body {
    margin: 0;
}
p {
    font-family: 'Noto Sans KR', sans-serif;
    color: green;
    font-size: 17px;
}

.picture-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.profile{
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

li , ul{
    display: inline;
    align-self: center;
    margin:0;
    margin-left: 15px;
}

#p1 {
    margin-left: 15px;
    float: left;
}
img {
    border-radius : 40px;
    width: 400px;
    display: flex;
    margin-right: 60px;
}
a {
    text-decoration: none;
    color: white;
}
h3 {
    text-align: center;
    font-size: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    font-size: 24px;
    color: white;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
 
.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover{
    background-color: gray;
    border-radius: 4px;
}
.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.navbar__icons li {
    padding: 8px 12px;
}

.navbar__icons li:hover{
    background-color: gray;
    border-radius: 4px;
}

.navbar__toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: white;
}  

@media screen and (max-width: 1024px) {
    body {
        margin: 0;
    }
    p {
        font-family: 'Noto Sans KR', sans-serif;
        color: green;
        font-size: 15px;
    }
    #p1 {
        margin-left: 15px;
        float: left;
        flex-direction: column;
        justify-content: center;
    }
    h {
        font-size: 18px;
    }
    a {
        text-decoration: none;
        color: white;
    }
    h3 {
        text-align: center;
        font-size: 30px;
    }

    .picture-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    img{
        width: 400px;
        margin-right: 60px;
        border-radius: 40px;
        display: flex;
    }


    #p1 .picture-section{
        flex-direction: column;
    }

    #p1 .picture{
        width: 100% !important;
    }

    .profile{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .profile{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-top: 60px;
    }

}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }
    p {
        font-family: 'Noto Sans KR', sans-serif;
        color: green;
        font-size: 13px;
    }
    #p1 {
        margin-left: 15px;
        float: left;
    }
    h2 {
        font-size: 18px;
    }
    a {
        text-decoration: none;
        color: white;
    }
    h3 {
        text-align: center;
        font-size: 25px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toogleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }

    .picture-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    img{
        width: 340px;
        height: 430px;
        margin-right: 60px;
        border-radius: 40px;
        display: flex;
    }

    #p1 .picture-section{
        flex-direction: column;
    }

    #p1 .picture{
        width: 100% !important;
    }

    .profile{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-top: 60px;
    }

}

@media screen and (max-width: 480px) {
    body {
        margin: 0;
    }
    p {
        font-family: 'Noto Sans KR', sans-serif;
        color: green;
        font-size: 15px;
    }
    #p1 {
        margin-left: 15px;
        float: center;
    }
    h2 {
        font-size: 19px;
    }
    a {
        text-decoration: none;
        color: white;
    }
    h3 {
        text-align: center;
        font-size: 21px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toogleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }

    .picture-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    img{
        width: 320px;
        height: 400px;
        margin-right: 40px;
        border-radius: 40px;
        display: flex;
    }

    #p1 .picture-section{
        flex-direction: column;
    }

    #p1 .picture{
        width: 100% !important;
    }

    .profile{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin: 60px;
    }

}